# Configuration file listing all logical volumes that we should
# be creating..
{% for guest in kvm_guests %}
- name: {{ guest.kvm.name }}
  volume_group: {{ guest.kvm.root_disk.volume_group }}
  size: {{ guest.kvm.root_disk.size }}
  owner: {{ guest.kvm.name }}
{% if guest.kvm.data_disks is defined -%}
{% for data_disk in guest.kvm.data_disks -%}
- name: {{ data_disk.name }}
  volume_group: {{ data_disk.volume_group }}
  size: {{ data_disk.size }}
  owner: {{ guest.kvm.name }} 
{% endfor %}
{% endif %}
{% endfor %}
