slapd	slapd/domain	string mayfirst.{{ m_tld }}
slapd	shared/organization	string  {{ slapd_organization }}
slapd	slapd/password1 password {{ vault_slapd_root_password }}
slapd	slapd/password2 password {{ vault_slapd_root_password }}
