rules_folder: /etc/elastalert/rules

run_every:
  seconds: 15

# Limit buffer time - a higher value can cause massive RAM spike when you start elastalert.
buffer_time:
  seconds: 15

es_host: {{ m_elasticsearch_host }} 
es_port: {{ m_elasticsearch_port }} 
use_ssl: True
verify_certs: True
ca_certs: /etc/ssl/certs/ca-certificates.crt
es_username: elastalert
es_password: {{ vault_elasticsearch_elastalert_password }}

writeback_index: elastalert

alert_time_limit:
  days: 2

