##
# MF/PL dovecot configuration common to both mailstore and proxy
# installations.
##

# Set backend auth
{% if m_mail_backend == "ldap" -%}
passdb {
  driver = ldap
  args = /etc/dovecot/mayfirst-ldap.conf.ext
}
{% else -%}
passdb {
  driver = sql
  args = /etc/dovecot/mayfirst-sql.conf.ext
}
{% endif %}

# Username format for LMTP delivery.  See
# http://www.dovecot.org/list/dovecot/2012-February/081052.html, and
# /etc/dovecot/conf.d/10-auth.conf.  The thread at
# http://dovecot.org/pipermail/dovecot/2013-March/089109.html is also
# useful.
auth_username_format = %Ln

# SSL/TLS support: yes, no, required. <doc/wiki/SSL.txt>.
# We enable TLS support here, even if redundant.
#
ssl = yes

# x509 key and certificate file
#
ssl_cert = </etc/ssl/mayfirst/{{ dovecot_hostname }}//fullchain.pem
ssl_key = </etc/ssl/mayfirst/{{ dovecot_hostname }}//privkey.pem

# According to https://wiki2.dovecot.org/Upgrading/2.3 there is now
# a ssl_min_protocol which defaults to tlsv1, so no need to specify
# that we should not use SSLv3.

# SSL [sic] ciphers to use (taken from
# puppet:///mayfirst/apache/ssl.conf).  According to
# http://wiki2.dovecot.org/SSL/DovecotConfiguration, this list is in
# `openssl' syntax
#
ssl_cipher_list = HIGH:MEDIUM:!aNULL:!MD5

# Disable LOGIN command and all other plaintext authentications unless
# SSL/TLS is used (LOGINDISABLED capability). Note that if the remote IP
# matches the local IP (ie. you're connecting from the same computer), the
# connection is considered secure and plaintext authentication is
# allowed.
#
disable_plaintext_auth = "yes"


