# All sites defined in seed/ansible
{% for host in nginx_proxy_origins %}
{% if host["nginx_proxy"]["upstream"] is defined -%}
upstream {{ host["nginx_proxy"]["upstream"]["name"] }} {
  server {{ host["nginx_proxy"]["upstream"]["ip"] }}:{{ host["nginx_proxy"]["upstream"]["port"] }};
}
{% endif %}
{% endfor %}

{% for host in nginx_proxy_origins %}
{% if host["nginx_proxy"]["sites"] is defined -%}
{% for site in host["nginx_proxy"]["sites"] -%}
server {
  listen {{ nginx_bind_ip }}:80;
  server_name {{ site["server_names"] }};
  location ^~ /.well-known/acme-challenge/ {
    root /var/www/html;
    try_files $uri @keyserver;
  }

  location @keyserver {
    proxy_pass http://keyserver;
  }

  access_log off;
  error_log off;

  location / {
    return 301 https://{{ site["canonical_domain"] }}$request_uri;
  }
}

server {
  listen {{ nginx_bind_ip }}:443 ssl;
  server_name {{ site["server_names"] }};

  location ^~ /.well-known/ {
    root /var/www/html;
    try_files $uri @proxy;
  }

  proxy_set_header Host $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  real_ip_recursive on;

  access_log off;
  error_log off;

  ssl_session_timeout 1d;
  ssl_session_cache shared:SSL:50m;
  ssl_session_tickets off;

  ssl_dhparam /etc/ssl/dhparam.pem;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';
  ssl_prefer_server_ciphers on;

  # HSTS (ngx_http_headers_module is required) (15768000 seconds = 6 months)
  add_header Strict-Transport-Security max-age=15768000;

  ssl_stapling on;
  ssl_stapling_verify on;

  resolver 8.8.8.8 8.8.4.4;

  ssl_certificate /etc/ssl/mayfirst/{{ site["tls_certificate_name"] }}/fullchain.pem;
  ssl_certificate_key /etc/ssl/mayfirst/{{ site["tls_certificate_name"] }}/privkey.pem;

  location @proxy {
    proxy_pass https://{{ site["upstream_name"] }};
  }

  location / {
    root /var/www/html;
    try_files $uri @proxy;
  }

  {% if site["extra"] is defined -%} 
    {{ site["extra"] | indent (width=2) }} 
  {% endif -%}

  client_max_body_size {{ site["client_max_body_size"] | default('32m') }};
}
{% endfor %}
{% endif %}
{% endfor %}

