# Transport maps.
# Used by the client facing mail servers.

# Ensure local mail is delivered locally.
{{ inventory_hostname }}  :

# For internal mail, send directly to filter
.mayfirst.{{ m_tld }} smtp:filter.smtp.mayfirst.{{ m_tld }}

# For all others, relay through our dedicated mail relay servers, but
# specify the postfix instance dedicated to individual mail, not bulk
* smtp:individual.relay.smtp.mayfirst.{{ m_tld }}
