# Transport maps.
# Used by web servers.

# Ensure local mail is delivered locally.
{{ inventory_hostname }}  :

# For internal mail, send directly filter
.mayfirst.{{ m_tld }} smtp:filter.smtp.mayfirst.{{ m_tld }}

# For all others, relay through our dedicated mail relay servers, but
# specify the instance dedicated to restricted servers 
*   smtp:restricted.relay.smtp.mayfirst.{{ m_tld }}
