# Transport maps.
# Used by the MX servers to forward email aliases not handled by us.

# Ensure local mail is delivered locally.
{{ inventory_hostname }}  :

# For internal mail, send to filter 
.mayfirst.{{ m_tld }} smtp:filter.smtp.mayfirst.{{ m_tld }}

# For all others, relay through our dedicated mail relay servers, but
# specify the postfix instance dedicated to forwarded mail.
* smtp:restricted.relay.smtp.mayfirst.{{ m_tld }}
