# Configuration file listing all certificates managed by the mayfirst
# certificate authority and Lets Encrypt.
{% for host in hostvars %}
{% if hostvars[host]["keystore_certs"] is defined -%}
{% for cert in hostvars[host]["keystore_certs"] -%}
- name: {{  cert["name"] }}
  ca: {{ cert["ca"] }}
{% if cert["challenge"] is defined %}
  challenge: {{ cert["challenge"] }}
{% endif %}
  common_names:
{% for common_name in cert["common_names"] %}
    - {{ common_name }}
{% endfor %}
  distribute_hosts:
{% if cert["distribute_hosts"] is defined -%}
{% for dhost in cert["distribute_hosts"] %}
    {{ dhost }}:
{% for renew_hook in cert["distribute_hosts"][dhost] %}
      - {{ renew_hook }}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor%}


