# Username format for LMTP delivery.  See
# http://www.dovecot.org/list/dovecot/2012-February/081052.html, and
# /etc/dovecot/conf.d/10-auth.conf.  The thread at
# http://dovecot.org/pipermail/dovecot/2013-March/089109.html is also
# useful.
auth_username_format = %Ln

# SSL/TLS support: yes, no, required. <doc/wiki/SSL.txt>.
# We enable TLS support here, even if redundant.
#
ssl = yes

# x509 key and certificate file
#
ssl_cert = </etc/letsencrypt/live/{{ dovecot_hostname }}//fullchain.pem
ssl_key = </etc/letsencrypt/live/{{ dovecot_hostname }}//privkey.pem

# According to https://wiki2.dovecot.org/Upgrading/2.3 there is now
# a ssl_min_protocol which defaults to tlsv1, so no need to specify
# that we should not use SSLv3.

# SSL [sic] ciphers to use (taken from
# puppet:///mayfirst/apache/ssl.conf).  According to
# http://wiki2.dovecot.org/SSL/DovecotConfiguration, this list is in
# `openssl' syntax
#
ssl_cipher_list = HIGH:MEDIUM:!aNULL:!MD5

# Disable LOGIN command and all other plaintext authentications unless
# SSL/TLS is used (LOGINDISABLED capability). Note that if the remote IP
# matches the local IP (ie. you're connecting from the same computer), the
# connection is considered secure and plaintext authentication is
# allowed.
#
disable_plaintext_auth = "yes"

# The location of the mailbox. %us is replaced with the username.
mail_location = maildir:~/Maildir

protocols = imap lmtp

# Based on http://wiki2.dovecot.org/Migration/Courier
namespace inbox {
  prefix = INBOX.
  separator = .
}

# See: https://wiki.dovecot.org/MailLocation/LocalDisk
# Default to no fsyncing
mail_fsync = never

# This is the default process limit. We reduce this for some services.
default_process_limit = 1024

# LMTP recipie based on
# http://wiki2.dovecot.org/HowTo/PostfixDovecotLMTP
service lmtp {
  process_min_avail = 5
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
   group = postfix
   mode = 0600
   user = postfix
  }
}

protocol lmtp {
  postmaster_address = postmaster@mayfirst.org
  mail_plugins = $mail_plugins
  # Enable fsyncing for LMTP
  mail_fsync = optimized
}
protocol lda {
  # Enable fsyncing for LDA
  mail_fsync = optimized
}

service imap {
  # Max. number of IMAP processes (connections)
  process_limit = 256 
}

service auth {
  client_limit = 5120
}

service anvil {
  client_limit = 4099
}
