; vim: set filetype=jinja :
; Boostrapped domain zone for mayfirst.{{ m_tld }}
$TTL 86400 
$ORIGIN mayfirst.{{ m_tld }}.
@    IN    SOA    mayfirst.{{ m_tld }}  hostmaster.mayfirst.{{ m_tld }}    (
    1541559282 
    2h 
    3m 
    4w 
    1h 
)
{% for host in hostvars %}
{% if hostvars[host]["network"][0]["networks"][0]["address"] is defined %}
{{ host }}. 3600  IN  A {{ hostvars[host]["network"][0]["networks"][0]["address"][:-3] }}
{% endif %}
{% endfor %}
{% if knot_bootstrap is defined %}
{% for hostname, ip in knot_bootstrap.items() %}
{{ hostname }}. 3600  IN  A {{ ip }} 
{% endfor %}
{% endif %}
