# These are all settings that might vary depending on how you are running the
# code. You don't need this file on a dev instance because proper dev variables
# are set in settings.py. However, you do need this file in demo, test or
# production modes.

ALLOWED_HOSTS = ['cp.mayfirst.{{ m_tld }}']

FLOWER_BASE_URL = 'https://cp.mayfirst.{{ m_tld }}/'

SECRET_KEY = '{{ vault_flower_secret_key }}'

{% if flower_profile == 'hub' %}

{% if m_environment == 'production' %}
FLOWER_ALLOW_PRIVATE_IPS = False
{% else %}
FLOWER_ALLOW_PRIVATE_IPS = True 
{% endif %}

FLOWER_PETAL_API_KEY = '{{ vault_flower_api_key }}'
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'flower',
        'USER': 'flower',
        'PASSWORD': '{{ vault_flower_database_user_password }}',
        'HOST': 'localhost',
        'PORT': '3306',
    }
}

# These domains get to skip validation if being added by the host organization.
FLOWER_HOST_ALLOWED_PUBLIC_SUFFIXES = [ "mayfirst.info", "in-addr.arpa" ]

# In production, don't allow members to use internal IP addresses, unless the domain
# is listed in the exceptions below. Override in development or test mode.
FLOWER_ALLOW_PRIVATE_IPS = False

# PTR networks are IP ranges that we can set pointer records for.
FLOWER_IPV6_PTR_NETWORKS = [ "2001:470:1:116::/64" ]
FLOWER_IPV4_PTR_NETWORKS = [ "1.2.3.0/24" ]

# MX Domains are set whenever you create a zone.
FLOWER_MX_DOMAINS = [ "a.mx.mayfirst.{{ m_tld }}" ]

FLOWER_NAME_SERVERS = [ "a.ns.mayfirst.{{ m_tld }}", "b.ns.mayfirst.{{ m_tld }}" ]

FLOWER_DISABLED_CNAME = "disabled.mayfirst.{{ m_tld }}"
# Webproxy records are resolved and converted into A records prior
# to insertion into the DNS server. They are not designed to be
# aliasess or flattened CNAMES (i.e. resolved by the authoritative
# server when requested). Therefore, the server name should be
# restricted to domain names controlled by the host.
FLOWER_WEBPROXY_DEFAULT_SERVER_NAME = "webproxy.mayfirst.{{ m_tld }}"
FLOWER_WEBPROXY_SERVER_NAME_REGEXP = '^webproxy(-[a-z0-9]+)?\.mayfirst\.{{ m_tld }}$' 

{% else %}

FLOWER_PETAL_API_KEY_HASH = '{{ vault_flower_api_key_hash }}'

{% endif %}
