dn: olcDatabase={1}mdb,cn=config
changetype: modify
add: olcAccess
olcAccess: to * by dn.regex="cn=(dovecot|postfix),ou=systemUsers,dc=mayfirst,dc={{ m_tld }}" read
# FIXME: dovecot and postfix don't need all this access - how to restrict??
#olcAccess: to attrs=uid,userPassword,mailLocation by dn="cn=dovecot,dc=mayfirst,dc=dev" read
