version: "3.6"
services:
  {{ item.user }}-nextcloud:
    build: 
      context: /usr/local/src/docker-nextcloud
      args:
      - NEXTCLOUD_VERSION={{ item.version }}
    image: nextcloud_{{ item.version }}
    container_name: {{ item.user }}-nextcloud
    ports:
      - "127.0.0.1:{{ item.port }}:9000"
    volumes:
      - /srv/nextcloud/{{ item.user }}/data:/var/www/nextcloud/{{ item.version }}/data
      - /srv/nextcloud/{{ item.user }}/config:/var/www/nextcloud/{{ item.version }}/config
  {{ item.user }}-redis:
    build:
      context: /usr/local/src/docker-redis
    image: redis
    container_name: {{ item.user }}-redis
