[Unit]
Description=Nextcloud cron.php job for {{ item.user }}

[Service]
ExecStart=/usr/bin/docker exec -t {{ item.user }}-nextcloud su -s /bin/sh -l -c "/usr/bin/php -f /var/www/nextcloud/{{ item.version }}/cron.php" www-data

