user = postfix 
password = {{ vault_postfix_mysql_password }}
hosts = {% for host in m_maildb_hosts -%}{{ host  }} {% endfor -%}
dbname = mail
query = SELECT email FROM virtual_user WHERE username = '%s'
