user = postfix 
password = {{ vault_postfix_mysql_password }}
hosts = {% for host in m_maildb_hosts -%}{{ host  }} {% endfor -%}
dbname = mail
query = SELECT 1 FROM virtual_domain WHERE domain_name = '%s'
