Package: metricbeat 
Pin: version {{ m_elastic_version }} 
Pin-Priority: 900 

Package: journalbeat 
Pin: version {{ m_elastic_version }} 
Pin-Priority: 900 

Package: kibana
Pin: version {{ m_elastic_version }} 
Pin-Priority: 900 

Package: elasticsearch
Pin: version {{ m_elastic_version }} 
Pin-Priority: 900 
