# Warn about mdadm raid failures.
name: Check for RAID failures 
type: any 
index: metricbeat-*

filter:
- query:
    query_string:
      query: 'system.raid.disks.failed AND system.raid.disks.failed > 0'

alert:
- email
from_addr: {{ elastalert_from_addr }}
email: [ {% for email in m_warning_email_addresses %} "{{ email }}", {% endfor %}  ]

# It sometimes takes a week to get a disk replaced, so let's not be irritating 
realert:
  weeks: 1
