# Warn about filesystems at risk of running out of space.
name: Check for filesystems that are almost full. 
type: any 
index: metricbeat-*

filter:
- query:
    query_string:
      query: 'system.filesystem.used.pct:[.95 TO .99]'

alert:
- email
from_addr: {{ elastalert_from_addr }}
email: [ {% for email in m_critical_email_addresses %} "{{ email }}", {% endfor %}  ]
# How long is it tolerable to have a partition at 95%?
realert:
  hours: 12 
