# Send pigeon warning alerts 
name: Send pigeon warning alerts
type: any 
index: journalbeat-*

buffer_time:
  seconds: 15

filter:
- query:
    query_string:
      query: 'systemd.unit: pigeon.service AND dissect.pigeon_priority: warning'

# Adding a query key ensures that the re-alert rule only applies to entries that
# match this particularly query_key value. But if we match an entry with a different
# value to this key, then we get alerted immediately.
query_key: dissect.pigeon_query_key 

alert:
- email
from_addr: {{ elastalert_from_addr }}
email: [ {% for email in m_warning_email_addresses %} "{{ email }}", {% endfor %}  ]
alert_subject: "ALERT: Host: {0}, Method: {1}"
alert_subject_args:
  - host.hostname
  - dissect.pigeon_method

realert:
  days: 1
