# Warn about filesystems at risk of running out of space.
name: Check for failed systemd services 
type: any 
index: metricbeat-*

filter:
- query:
    query_string:
      query: 'system.service.state: failed'

query_key: host.hostname 

alert:
- email
from_addr: {{ elastalert_from_addr }}
email: [ {% for email in m_critical_email_addresses %} "{{ email }}", {% endfor %}  ]
alert_subject: "Sysatemd failure on Host: {0}"
alert_subject_args:
  - host.hostname

# How long is it tolerable to have a failed service?
realert:
  hours: 4
