[source]

keep = {{ backup.keep }}

{% for path in backup.include  %}
include = {{ path }}
{% endfor %}

{% if backup.exclude is defined %}
{% for path in backup.exclude  %}
exclude = {{ path }}
{% endfor %}
{% endif %}

[dest]

host = {{ item.host  }}
port = {{ item.port }}
user = {{ item.user }}
directory = /home/backups/{{ item.user }}/borg-backup

archive = {hostname}-{now:%Y-%m-%dT%H:%M}
