loglevel = 4
when = everyday at {{ backup["hour"] | default(backup_default_hour) }}:00
reportsuccess = no
reportwarning = no 
logfile = /var/log/backupninja.log
configdirectory = /etc/backup.d
scriptdirectory = /usr/share/backupninja
libdirectory = /usr/lib/backupninja
usecolors = yes
vservers = no 
