[Match]
{% if 'match' in item %}
{% for match in item.match %}
{% for key, value in match.items() %}
{{ key|title }}={{ value }}
{% endfor %}
{% endfor %}
{% else %}
# By default, match on first available cable device.
Name=en*
{% endif %}

[Network]
{% for network in item.networks %}
{% for key, value in network.items() %}
{% if key not in [ "netmask" ] %}
{{ key|title }}={{ value }}
{% endif %}
{% endfor %}
{% endfor %}

{% if mayfirst_add_routes == true and (item.add_routes is not defined or item.add_routes == true) %}
# Some locations have multiple subnets (telehouse) - by adding a route for each
# subnet, we avoid a trip up to the router and then back down to the server.
{% for group in group_names %}
{% for route in m_networks[group] %}
[Route]
Scope=link
Destination={{ route }}

{% endfor %}
{% endfor %}
{% endif %}

{% for network in item.networks %}
{% if network.routes is defined %}
{% for route in network.routes %}
[Route]
Scope=link
Destination={{ route }}

{% endfor %}
{% endif %}
{% endfor %}
