{% if bruce_ignore['domains'] is defined %}
domains:
{% for domain in bruce_ignore['domains'] %}
  - {{ domain }}
{% endfor %}
{% endif %}

{% if bruce_ignore['urls'] is defined %}
urls:
{% for url in bruce_ignore['urls'] %}
  - address: {{ url['address'] }}
{% if url['username'] is defined %}
    username: {{ url['username'] }}
    password: {{ url['password'] }}
{% endif %}
{% endfor %}
{% endif %}

{% if bruce_ignore['ips'] is defined %}
ips:
{% for ip in bruce_ignore['ips'] %}
  - {{ ip }}
{% endfor %}
{% endif %}
