server_host = {% for host in postfix_ldap_hosts %}{{ host }} {% endfor %} 
search_base = {{ m_ldap_base}}
version = 3
bind = yes
bind_dn = cn=postfix,ou=systemUsers,{{ m_ldap_base }}
bind_pw = {{ vault_postfix_ldap_password }}
query_filter = (&(ObjectClass=PostfixAccount)(uid=%s))
result_attribute = mailBox 
