journalbeat.inputs:
- paths: ["/var/log/journal"]
  seek: cursor
  include_matches: [ {% for item in journalbeat_send %} "{{ item }}", {% endfor %} ]

setup.template.settings:
  index.number_of_shards: 1
  index.number_of_replicas: 0

output.elasticsearch:
  hosts: ["{{ m_elasticsearch_host }}:{{ m_elasticsearch_port }}"]
  protocol: "https"
  username: "journalbeat_writer"
  # Actual password is in keystore.
  password: "${JOURNALBEAT_WRITER_PWD}"

processors:
{% if "syslog.identifier=sshd" in journalbeat_send %}
- dissect:                        
     when:                         
       and:                        
         - equals:                 
             syslog.identifier: sshd      
         - contains:               
             message: "Failed password for invalid user"
     tokenizer: Failed password for invalid user %{user} from %{client_ip} port %{client_port} ssh2
- dissect:                        
     when:                         
       and:                        
         - equals:                 
             syslog.identifier: sshd      
         - contains:               
             message: "Failed password for"
     tokenizer: Failed password for %{user} from %{client_ip} port %{client_port} ssh2
{% endif %}
{% if "systemd.unit=nginx.service" in journalbeat_send %}
- dissect:
    when:
      and:
        - equals:
            systemd.unit: nginx.service 
        - contains: 
            message: 'accesslog:'
    tokenizer: '%{server} nginx: accesslog: %{site} %{client_ip} "%{request}" %{status} %{body_bytes_sent} "%{http_referer}" "%{http_user_agent}"'
{% endif %}
{% if "systemd.unit=pigeon.service" in journalbeat_send %}
- dissect:
    when:
      and:
        - equals:
            systemd.unit: pigeon.service 
        - contains: 
            message: 'pigeon-priority:'
    tokenizer: 'pigeon-query-key: %{pigeon_query_key}, pigeon-method: %{pigeon_method}, pigeon-priority: %{pigeon_priority}, pigeon-msg: %{pigeon-msg}'
{% endif %}

{% if "systemd.unit=dovecot.service" in journalbeat_send %}
- dissect:
    when:
      and:
        - equals:
            systemd.unit: dovecot.service
        - contains: 
            message: "Disconnected (auth failed" 
    tokenizer: "%{service}: Disconnected (auth failed, %{auth_failed_attempts} attempts in %{seconds_number} secs): user=<%{user}>, method=PLAIN, rip=%{client_ip}, lip=%{?local_ip}, TLS: Connection closed, session=<%{?session}>" 
- dissect:
    when:
      and:
        - equals:
            systemd.unit: dovecot.service
        - contains: 
            message: "Aborted login (auth failed" 
    tokenizer: "%{service}: Aborted login (auth failed, %{auth_failed_attempts} attempts in %{seconds_number} secs): user=<%{user}>, method=PLAIN, rip=%{client_ip}, lip=%{?local_ip}, TLS, session=<%{?session}>"
# We have to convert auth_failed_attempts to integer so it can be summed by elastalert
- convert:
    fields: 
      - { from: "dissect.auth_failed_attempts", type: "integer" }
    ignore_missing: true
    fail_on_error: false 
{% endif %}

# We setup the template manually to avoid giving the journalbeat user
# more permissions then it needs.
setup.template.enabled: false
logging.level: warning
