[network]
type=host
host=4.2.2.1
tolerance=3

{% for label in simplemonitor_upstream_networks %}

[{{ label }}]
{% for key in simplemonitor_upstream_networks[label] -%}
{{ key }}={{  simplemonitor_upstream_networks[label][key]  }}
{% endfor -%}
{% endfor -%}

{% for host in groups['all'] -%}
{% if "simplemonitor" in hostvars[host] and inventory_hostname == hostvars[host]["simplemonitor"]["host"] -%}
{% for label in hostvars[host]["simplemonitor"]["checks"] %}

[{{ label }}]
{% for key in hostvars[host]["simplemonitor"]["checks"][label] -%}
{{ key }}={{  hostvars[host]["simplemonitor"]["checks"][label][key]  }}
{% endfor -%}
{% endfor -%}
{% endif -%}
{% endfor %}
