[monitor]
interval=30
monitors=/etc/simplemonitor/monitors.ini

{% if m_environment == "production" %}

[reporting]
alerters=email

[email]
type=email
host=localhost
from={{ simplemonitor_from_address }} 
to={{ m_critical_email_addresses | join(', ') }}

{% endif %}

